@font-face {
  /*font-family: 'FZJLJW_0';*/
  font-family: '方正静蕾简体';
  src: url('./FZJLJW_0.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'FZJingLeiS-R-GB';
  src: url('./FZJLJW_0.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
