@font-face {
  font-family: '幼圆';
  src: url('./SIMYOU.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'YouYuan';
  src: url('./SIMYOU.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
