@font-face {
  font-family: '华文琥珀';
  src: url('./STHUPO.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'STHupo';
  src: url('./STHUPO.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
